doc/psoForML.aux
doc/psoForML.bbl
doc/psoForML.blg
doc/psoForML.log
.vscode/settings.json
doc/.DS_Store
doc/psoForML.synctex.gz
example/.DS_Store
fun/.DS_Store
.DS_Store
doc/sumcubesof42.aux
doc/sumcubesof42.bbl
doc/sumcubesof42.blg
doc/sumcubesof42.log
doc/sumcubesof42.synctex.gz
